---
# Only the main Sass file needs front matter (the dashes are enough)
---

$bg-color: #fff;
$body-font: "source-sans-pro",sans-serif;
$open: #bada55;
$primary-color: #5a2a24;

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	color: $primary-color;
}

img {
	max-width: 100%;
}

h1,
.logo {
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
}
h2 {
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 400;
	text-transform: uppercase;
}

/*
==============
HEADER
==============
*/

.site-header {
	background: $bg-color;
	width: 100%;

	.logo {
		border: 2px solid $primary-color;
		color: $primary-color;
		display: block;
		margin: 0.5rem auto 1rem auto;
		padding: 0.5rem 1rem;
		text-align: center;
		text-decoration: none;
		width: 23rem;
	}
	.open-close {
		display: none;
		margin-bottom: 0.5rem;
		text-align: center;

		.dot {
			background: $open;
			border-radius: 50%;
			display: inline-block;
			height: 0.75rem;
			width: 0.75rem;
			vertical-align: middle;
		}
		span {
			text-decoration: underline;

		}
	}
	nav {
		border-top: 2px solid $primary-color;
		border-bottom: 2px solid $primary-color;
		font-size: 1.25rem;
		overflow: hidden;
		
		ul {
			margin: 0;
			overflow: hidden;
			padding: 0;

			li {
				display: block;
				float: left;
				list-style: none;
				padding: 0.5rem 0;
				text-align: center;
				width: 33%;

				a {
					color: $primary-color;
					text-decoration: none;
				}
			}
		}	
	}
}

/*
==============
BANNER
==============
*/

.banner {
	background: url(/images/hero-pasta.jpg) 0 0 no-repeat;
	background-size: cover;
	padding: 3rem 0;
	position: relative;
	width: 100%;
	z-index: -1;
	
	&:after {
		content: " ";
		background: #000;
		height: 100%;
		left: 0;
		opacity: 0.5;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	h1,
	h2 {
		color: #fff;
		opacity: 1;
		text-align: center;
		z-index: 1;
	}
}

/*
==============
OPEN/CLOSE
==============
*/

.open-close {
		border-top: 2px solid $primary-color;
		border-bottom: 2px solid $primary-color;
		margin-bottom: 0.5rem;
		padding: 0.5rem 0;
		text-align: center;

		.dot {
			background: $open;
			border-radius: 50%;
			display: inline-block;
			height: 0.75rem;
			width: 0.75rem;
			vertical-align: middle;
		}

		span {
			font-size: 1.25rem;
			text-decoration: underline;
		}
}














