---
# Only the main Sass file needs front matter (the dashes are enough)
---

$bg-color: #fff;
$body-font: "source-sans-pro",sans-serif;
$border: 2px solid #5a2a24;
$open: #bada55;
$primary-color: #5a2a24;
$secondary-color: #b1c0f2;
$tot-width: 100%;
$num-col: 12;
$gut-width: 0;

$ind-col-width: (($tot-width) - ($gut-width) * ($num-col - 1)) / $num-col;

@mixin grid($geezy) {
  width: $geezy * $ind-col-width + $gut-width * ($geezy - 1);
  float: left;
  margin-right: $gut-width;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	color: $primary-color;
}

img {
	max-width: 100%;
}

.wrapper {
	overflow: hidden;
}

h1,
.logo {
	font-size: 2.5rem;
	font-weight: 600;
	text-align: center;
}
h2 {
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 400;
	text-transform: uppercase;
}

/*
==============
HEADER
==============
*/

.site-header {
	background: $bg-color;
	line-height: 1.4;
	overflow: hidden;
	width: 100%;

	.logo {
		border: $border;
		color: $primary-color;
		display: block;
		margin: 0.25rem auto;
		padding: 0.25rem 0.5rem;
		text-align: center;
		text-decoration: none;
		width: 20rem;
	}

	nav.mainnav {
		font-size: 1.25rem;
		overflow: hidden;
		
		ul {
			margin: 0;
			overflow: hidden;
			padding: 0;

			li {
				display: block;
				float: left;
				list-style: none;
				padding: 0.5rem 0;
				text-align: center;
				width: 33%;

				a {
					color: $primary-color;
					text-decoration: none;
				}
			}
		}	
	}

	@media (max-width: 650px) {
		nav.mainnav {
		border-top: $border;
		border-bottom: $border;
		}
	}

	@media (min-width: 900px) {
		.logo {
			margin: 0.25rem;
		}
		.mainnav {
			padding: 0.8rem 0.25rem 0 0;
		}
	}
}

/*
==============
BANNER
==============
*/

.banner {
	background: url(/images/hero-pasta.jpg) 0 0 no-repeat;
	background-size: cover;
	padding: 5rem 0;
	position: relative;
	width: 100%;
	z-index: -1;
	
	&:after {
		content: " ";
		background: #000;
		height: 100%;
		left: 0;
		opacity: 0.4;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	h1,
	h2 {
		color: #fff;
		opacity: 1;
		text-align: center;
		z-index: 1;
	}
}

@media (min-width: 900px) {
	.banner {
		padding: 12rem;
	}
}

/*
==============
OPEN/CLOSE
==============
*/

.open-close,
.open-close-top {
		border-top: $border;
		border-bottom: $border;
		margin-bottom: 0.5rem;
		padding: 0.5rem 0;
		text-align: center;

		.dot {
			background: $open;
			border-radius: 50%;
			display: inline-block;
			height: 0.75rem;
			width: 0.75rem;
			vertical-align: middle;
		}

		span {
			font-size: 1.25rem;
			text-decoration: underline;
		}
}
.open-close-top {
	display: none;
	margin-bottom: 0;
}

@media (min-width: 650px) {
			.open-close {
				display: none;
			}
			.open-close-top {
				display: block;

			}
		}
@media (min-width: 900px) {
	.open-close-top {
		border: none;
		border-top: none;
		border-bottom: none;
	}
}

/*
==============
SPECIALS
==============
*/
.specials {
	margin: 0 auto;
	overflow: hidden;
	width: 95%;

	.spec-item {
		border: $border;
		margin-bottom: 1rem;
		overflow: hidden;
		padding: 0.5rem;

		.spec-img {
			background: url(../images/creme.jpg) 0 0 no-repeat;
			background-size: cover;
			padding: 3rem;
		}

	}
}

/*
==============
XTRA
==============
*/

.xtra {
	background: $secondary-color;
	font-size: 1.5rem;
	overflow: hidden;
	padding: 4rem 1rem;

	.wine {
		display: inline-block;
		margin: 0 auto;
		vertical-align: middle;
		width: 40px;
		
	}

	.card {
		
		display: inline-block;
		margin: 0 auto;
		vertical-align: middle;
		width: 80px;
		
	}
	
	p {
		display: inline-block;
		vertical-align: middle;
	}

	article {
		overflow: hidden;
		padding: 1rem;
	}	
}
/*
==============
HOURS
==============
*/
.hours {
	background: #d8d2b0;
	padding: 1rem;
}

/*
==============
LOCATION
==============
*/

.location {
	overflow: hidden;
	padding: 1rem;

	iframe {
		max-width: 100%;
	}
}

/*
==============
MENU
==============
*/
 .menu {
 	margin: 0 auto;
 	overflow: hidden;
	width: 90%;

 	h1 {
 		text-align: left;
 	}
	
	h2 {
		overflow: hidden;

 		.price {
 			float: right;
 			text-align: center;
 		}
 	}


 	section {
 		padding: 1rem;
		
		p {
			font-weight: bold;
		}

		.catering {
			border: $border;
			padding: 1rem;
		}
 		.more {
 			font-style: italic;
 			font-weight: normal;
 		}

 		.intro {
 			font-size: 1.25rem;
 			font-weight: normal;
			line-height: 1.4;
 		}
 	}

 	div {
 		border-bottom: 10px solid $primary-color;
 		border-bottom-style: double;
 		margin: 0 auto;
 		width: 90%;
 	}
 }


/*
==============
FOOTER
==============
*/

footer {
	border-top: $border;
	overflow: hidden;
	padding: 0.5rem;
	
	.copyright {
		float: left;
	}
	.social {
		float: right;
	}
}



/*
==============
GRID
==============
*/

.col-sm-1 {
  @include grid(1);
}
.col-sm-2 {
  @include grid(2);
}
.col-sm-3 {
  @include grid(3);
}
.col-sm-4 {
  @include grid(4);
}
.col-sm-5 {
  @include grid(5);
}
.col-sm-6 {
  @include grid(6);
}
.col-sm-7 {
  @include grid(7);
}
.col-sm-8 {
  @include grid(8);
}
.col-sm-9 {
  @include grid(9);
}
.col-sm-10 {
  @include grid(10);
}
.col-sm-11 {
  @include grid(11);
}
.col-sm-12 {
  @include grid(12);
}

//medium screen

@media (min-width: 650px) {
  .col-md-1 {
    @include grid(1);
  }
  .col-md-2 {
    @include grid(2);
  }
  .col-md-3 {
    @include grid(3);
  }
  .col-md-4 {
    @include grid(4);
  }
  .col-md-5 {
    @include grid(5);
  }
  .col-md-6 {
    @include grid(6);
  }
  .col-md-7 {
    @include grid(7);
  }
  .col-md-8 {
    @include grid(8);
  }
  .col-md-9 {
    @include grid(9);
  }
  .col-md-10 {
    @include grid(10);
  }
  .col-md-11 {
    @include grid(11);
  }
  .col-md-12 {
    @include grid(12);
  }
} 

//large screen

@media (min-width: 900px) {
  .col-lg-1 {
    @include grid(1);
  }
  .col-lg-2 {
    @include grid(2);
  }
  .col-lg-3 {
    @include grid(3);
  }
  .col-lg-4 {
    @include grid(4);
  }
  .col-lg-5 {
    @include grid(5);
  }
  .col-lg-6 {
    @include grid(6);
  }
  .col-lg-7 {
    @include grid(7);
  }
  .col-lg-8 {
    @include grid(8);
  }
  .col-lg-9 {
    @include grid(9);
  }
  .col-lg-10 {
    @include grid(10);
  }
  .col-lg-11 {
    @include grid(11);
  }
  .col-lg-12 {
    @include grid(12);
  }
}

//medium screen styles

 

//mobile


  